/* moves the nav item to the left of screen on larger screens i belieive */
@media(min-width: 992px) {
    .navbar-nav {
        width: auto;
        justify-content: flex-end;
        color: red;
    }
    .button-group .col{
        margin-right: 10px; /*Adjust the margin as needed*/
    }
}
