.App {
  text-align: left;
}
.App-header { 
  display: flex;
  flex-direction: column;
    font-size: calc(10px + 1vmin);
}

.App-logo {
  height: 8vmin;
}
/* logo css flexbox */
/* .box-logo div {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
} */
/* .box-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
} */
/* logo fin */

/* .App-logo-video {
  height: 10vmin;
  pointer-events: none;
} */
/* header styles*/

.App-NaviBar-crumbs ul { 
  display: flex;
  font-size: calc(10px + 1.5vmin);
}
.App-NaviBar-crumbs li a { 
  text-decoration: none;
}

@media screen and (min-width: 550px) {
  .App-NaviBar-crumbs ul {
    width: auto;
    margin-top: 0;
  }
  
  .App-NaviBar-crumbs .make-contact-btn {
       margin-left: auto;
  }
}

.App-NaviBar-crumbs .crumb {
  display: inline-block;
  margin: 10px;
  padding: 0 30px;
}

.Media-crumbs .crumb {
  display: inline-block;
  margin: 10px;
  padding: 0 30px;
}
/* color for nav-link & medai-links  */
li a {
  color:rgb(19, 39, 220);
 
}
.heart {
  color: #ff0000;
}
.small {
  font-size: 0.75rem;
}


.container {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);


}
.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
}
.page-main section {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  margin: 20px;
  padding: 20px;
}
.page-main img {
width:80%;
height:600px;
}
.photo-gallery img {
background-size : cover;
}
.photo-gallery img {
  width:100%;
  height: 300px;
  display: inline-flexbox;
  margin : 5px;
  padding: 15px;
}

.photo-gallery li {
  list-style-type: none;
  display: inline-block;
}

@media screen and (min-width: 768px){
  main-page {
  padding: 90px;
}
}
