.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}
/* .App-logo-video {
  height: 10vmin;
  pointer-events: none;
} */
/* header styles*/
.App-header { 
  /* background-color: #f3f3f5; */
  color: rgb(226, 11, 11);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}
.App-NaviBar-crumbs { 
  background-color: #040e0c;
  width: 100%;
  margin-top:10px;
  
  /* min-height: 10vh; */
  /* display: flex; */
  /* flex-direction: column; */
  font-size: calc(10px + 2vmin);

}
.App-NaviBar-crumbs .crumb {
  display: inline-block;
  margin: 10px;
  padding: 0 30px;
}

.Media-crumbs .crumb {
  display: inline-block;
  margin: 10px;
  padding: 0 30px;
}
/* color for nav-link & medai-links  */
li a {
  color:rgb(19, 69, 220);
 
}


.container {
  /* background-color: #fdfbfa;
  color: rgb(230, 36, 36); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);

}
/* .section {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */
/* Create a flex container for the photo grid */
.photo-grid {
  display: flex;
  flex-wrap: wrap; /* Allow the items to wrap to the next line if there's not enough space */
}
/* Apply a faded border to the photo */
.photo-container .App-picture {
  display: block;
  width: 100%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  border: 10px solid rgba(255, 255, 255, 0.5); /* Set the border color with transparency for the faded effect */
  transition: border-color 0.3s ease; /* Add a smooth transition effect for the border color */
}

/* Add a hover effect to change the border color on mouseover */
.App-picture:hover img {
  border-color: rgba(255, 255, 255, 0.2); /* Adjust the border color on hover */
}
.App-picture {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

}

.heart {
  color: #ff0000;
}
.small {
  font-size: 0.75rem;
}
